.joinUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* background: #003066; */
}

.map {
    width: 90%;
    height: 40vw;
    border: none;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

.joinUs a {
    /* color: #2D6CC0; */
    color: #F1AB00;
    text-decoration: none;
    font-size: 1em;
}

.joinUs a:hover {
    text-decoration: underline;
}

.joinUs > *  {
    text-align: center;
    color: white;
}

