.joinUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: #003066;
}

.joinUs .join-us-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: relative;
    top: 0;
    left: 0;
}

.map {
    width: 90%;
    height: 40vw;
    border: none;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

.joinUs a {
    /* color: #2D6CC0; */
    color: #F1AB00;
    text-decoration: none;
    /* font-size: 1.25em; */
}

.joinUs a:hover {
    text-decoration: underline;
}

.joinUs > *  {
    text-align: center;
    color: white;
}


.joinUs .title-font {
    font-family: 'IBM Plex Serif', serif;
    font-size: 2.25em;
    line-height: 1.5;
}

.joinUs .text-font {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
}

