#about-us {
    /* background-color: #003066; */
    color: white;
}

#about-us .aboutText, .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.aboutDescription p {
    text-align: center;
}

#about-us .frontImg {
    width: 100%;
}
