#home {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#home .frontImg {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

#home .text {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#home .text, #home .img-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home .title-font {
    font-family: 'IBM Plex Serif', serif;
    font-size: 2.25em;
    line-height: 1.5;
}

#home .text-font {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
}

#home .header {
    font-size: 3em;
    text-align: center;
}

.joinButton {
    padding: 8px 20px;
    background: #030e1f;
    border: none;
}

.joinButton:hover {
    background: #F1AB00;
}


@media (max-width: 600px) {
    #home .text-font {
        font-size: 1em;
    }

    #home .title-font {
        font-size: 1.5em;
    }

    #home .header {
        font-size: 2em;
    }
  }

