/* .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.navbar {
    background-color: #003066 !important;
    /* background-color: #2D6CC0; */
    /* background-color: black; */
    /* opacity: .5; */
    /* padding: 10px; */
    margin: 0;
    padding: 10px;
}

.navbar .nav-brand {
    padding: 0;
    margin: 0;
}

.navbar .navitem {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

.navbar .navitem:hover {
    color: #F1AB00;
}   

