.bottom {
    color: white;
    background: #003066;
    margin: 0;
}

.bottom .footer-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: relative;
    top: 0;
    left: 0;
    padding: 5px;
}

.bottom a {
    color: #F1AB00;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}

.bottom .title-font {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.25em;
    line-height: 1.5;
}

.bottom .text-font {
    font-family: 'Mukta', sans-serif;
    font-size: 1.75em;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .bottom .text-font {
        font-size: 1.25em;
    }

    .bottom .title-font {
        font-size: 1em;
    }
  }
